body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #555;
}



.mySections {
	height: 100vh;
	width: 100%;
}
.sectionHeader {
	margin-top: 130px;
	margin-left: 40px;
	font-weight: 100;
}
.sectionBar {
	margin-top: 40px;
}
.inner, .sectionHeader, .sectionBar {
	width: 70%;
	margin-left: 15%;
}



#HomeLink {
	margin-top: 12px;
	font-size: 200%;
}
#navbar {
	margin-top: 15px;
	height: 60px !important;
	font-size: 140%;
}
.myNavLinks {
	
}



#Home {
	text-align: center;
}
#Home_Name {
	font-size: 500%;
	margin-top: 40vh;
	font-weight: 100;
}
#Home_Describe {
	font-style: italic;
	font-weight: 80;
}



#About {
	background-color: #f9f9f9;
}
#portrait {
}


#Photos {

}



#Shows {
	background-color: #f9f9f9;
}



#Contact {

}


