body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #FFF;
	background-color: #000;
}


.mySections {
	width: 88%;
	margin-left: 12%;
	min-height:100vh !important; /* browser fill */
    height:100vh !important;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}
.sectionHeader {
	margin-top: 130px;
	margin-left: 40px;
	font-weight: 100;
}
.sectionBar {
	margin-top: 40px;
}
.inner {
	width: 70%;
	margin-left: 15%;
}





#sidesection {
	position: fixed;
}
#myCanvas {
	position: fixed;
	width: 80vh;
	height: 100vh;
}
#HomeLink {
	margin-top: 12px;
	font-size: 200%;
	margin-left: 30px;
	color: #bbbbbb !important;
	margin-left: 0 !important;
}
.myNavLinks {
	position: absolute;
	cursor: pointer;
	font-size: 95%;
}
.songList {
	position: absolute;
	cursor: pointer;
	font-size: 90%;
}


#musicControls {
	position: fixed !important;
	margin-left: 2.54vh;
}
.musicButton {
	width: 20px;
	height: 20px;
	margin-top: 27px;
	z-index:1040;
}







#Home {
	text-align: center;
	background-image: url("1.jpg");
}
#Home_Name {
	font-size: 400%;
	margin-top: 20vh;
	font-weight: 100;
}
#Home_Describe {
	font-style: italic;
	margin-top: 2vh;
	font-weight: 50;
	font-size: 150%;
}



#About {
	background-image: url("3.jpg");
}
#Shows {
	background-image: url("2.jpg");
}
#Contact {
	background-image: url("4.jpg");
}