#sidesection {
	position: fixed;
	width: 100%;
}
#myCanvas {
	position: fixed;
	width: 71vh;
	height: 90vh;
	opacity: 0.3;
}
#HomeLink {
	margin-top: 12px;
	font-size: 200%;
	margin-left: 30px;
	color: #bbbbbb !important;
	margin-left: 0 !important;
}
.myNavLinks {
	position: absolute;
	cursor: pointer;
	font-size: 115%;
}
.songList {
	position: absolute;
	cursor: pointer;
	font-size: 85%;
	display: inline;
}


#musicControls {
	position: fixed !important;
	margin-left: 4.04vh;
	margin-top: 89vh;
}
.musicButton {
	width: 20px;
	height: 20px;
	margin-top: 27px;
	z-index:1040;
}